* {

    padding: 0;!important;
    margin: 0;!important;
    list-style: none;
}
a {
    text-decoration: none;
}
#l-top a {
    color:black;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.left {
    float: left;
}
.right {
    float: right;
}
.banner {
    width: 1200px;
    margin: 0 auto;
}

.zhifu {
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    padding-left: 34px;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    margin-left: 36px;
    color: #fff;
    background-color: red;
    position: relative;
}
.zhifu:hover {
    background-color: #ff2832;
}
.zhifu span {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    float: left;
    background: url("store.dangdang.com/images/icon_shop.png") no-repeat -83px -265px;

}
.bookname {
    color: #000;
    font-size: 12px;
    margin: 5px 0;
}
.bookname:hover {
    color: red;
    text-decoration: underline;
}




/*Î²²¿¿ªÊ¼*/
.foot {
    height: 500px;
    /*margin-top: 40px;*/
    margin-top: 260px;
}
.foot-top {
    height: 80px;
    border-top: 2px solid red;
    border-bottom: 1px solid #ccc;
    background-color: #fafafa;
}
.foot-top1 {
    width: 235px;
    height: 52px;
    background:url(store.dangdang.com/images/footer_bg.png) no-repeat 0 0;
    float: left;
    margin-left: 260px;
    margin-top: 15px;
}
.foot-top2 {
    width: 235px;
    height: 52px;
    background: url(store.dangdang.com/images/footer_bg.png) no-repeat 0 -52px;
    float: left;
    margin-top: 15px;
}
.foot-top3 {
    width: 235px;
    height: 52px;
    background: url(store.dangdang.com/images/footer_bg.png) no-repeat 0 -104px;
    float: left;
    margin-top: 15px;
}
.foot-top4 {
    width: 235px;
    height: 52px;
    background: url(store.dangdang.com/images/footer_bg.png) no-repeat 0 -156px;
    float: left;
    margin-top: 15px;
}
.foot-center {
    height: 170px;
    border-bottom: 1px solid #ccc;
}
.foot-center .mmm {
    margin-left: 220px;
}
.foot-center .dl1 {
    overflow: hidden;
    float: left;
}
.foot-center .dl1 dt {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.foot-center .dl1 dd{
    height: 25px;
    font-size: 14px;
    width: 155px;
    text-align: center;
}
.foot-center .dl1 dd a {
    color: #666;
}
.foot-center .dl1 dd a:hover{
    color: red;
    text-decoration: underline;
}
.foot-botton {
    height: 320px;
}
.foot-botton ul {
    margin-top: 20px;
    margin-left: 216px;
}
.foot-botton ul li {
    float: left;
    padding-left: 15px;
}
.foot-botton ul li a {
    color: #666;
}
.foot-botton ul li a:hover {
    color: red;
    text-decoration: underline;
}
.foot-botton ul li span {
    padding-left: 15px;
    color: #aaa;
}
.foot-botton p {
    padding-left: 500px;
    margin-top: 50px;
    font-size: 13px;
    color: #666;
}
.foot-botton h6 {
    font-size: 13px;
    margin-top: 20px;
    padding-left: 290px;
    font-weight: normal;
    color: #666;
}
.foot-botton h6 a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.foot-botton h6 span {
    padding-left: 20px;
    padding-right: 20px;
}
.foot-botton h5 {
    font-size: 13px;
    padding-left: 366px;
    font-weight: normal;
    color: #666;
    margin-top: 5px;
}
.foot-botton h5 span {
    padding-left: 20px;
    padding-right: 20px;
}
.foot-botton h4 {
    font-size: 13px;
    padding-left: 400px;
    font-weight: normal;
    color: #666;
    margin-top: 5px;
}
.foot-botton h4 a {
    font-size: 13px;
}
.foot-botton h4 a:hover {
    text-decoration: underline;
    cursor: pointer;

}
.foot-botton h3 {
    font-size: 13px;
    padding-left: 400px;
    font-weight: normal;
    color: #666;
    margin-top: 5px;
}
.foot-botton h3 a {
    font-size: 13px;
}
.foot-botton h3 a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.foot-botton ol {
    margin-top: 30px;
    margin-left: 190px;
}
.foot-botton ol li {
    float: left;
    margin-left: 25px;
}





